Karaoke/videos/videos/MVI_1742.MP4
Karaoke/videos/videos/MVI_1737.MP4
Karaoke/videos/videos/MVI_1732.MP4
Karaoke/videos/videos/MVI_1729.MP4
Karaoke/videos/videos/MVI_1713.MP4
Fotos parijs/DSC_1362.MOV
Fotos parijs/DSC_1395.MOV
Fotos parijs/DSC_1398.MOV
Fotos parijs/DSC_1418.MOV
Backup (fotos tot 21-04-2025)/Z30/DSC_0006.MOV
Backup (fotos tot 21-04-2025)/Z30/DSC_0007.MOV
Backup (fotos tot 21-04-2025)/Z30/DSC_0141.MOV
Backup (fotos tot 21-04-2025)/Z30/DSC_0142.MOV
